name: model-metrics
on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: iterative/setup-cml@v1
      
      - name: DVC Pull

        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # GDRIVE_TOKEN: ${{ secrets.GDRIVE_CREDENTIALS_DATA }}
        run: | 
          mkdir -p .dvc/tmp
          touch .dvc/tmo/gdrive-user-credentials.json
          echo $GDRIVE_TOKEN > .dvc/tmp/gdrive-user-credentials.json
          dvc pull -r myremote

      - name: metrics   

          echo "# A simple demo to demonstrate that CML is working." > report.md

          echo "# Predictions" > report.md
                    
          cml publish ../images/prediction_graph.png --md >> report.md

          echo "# Feature Importance" > report.md
                    
          cml publish ../images/feature_importance.png --md >> report.md
          
          cml send-comment report.md
